<div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    <!-- BEGIN PAGE TITLE -->
                                    <div class="page-title">
                                        <h1>Change Password</h1>
                                    </div>
                                    <!-- END PAGE TITLE -->
                                    
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    
                                    <!-- BEGIN PAGE CONTENT INNER -->
									
									<div class="page-content-inner">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="tabbable-line boxless tabbable-reversed">
                                                    <ul class="nav nav-tabs">
                                                       
                                                    </ul>
                                                    
                                                        <div class="tab-pane" id="tab_3">
                                                            <div class="portlet box green-jungle">
                                                                <div class="portlet-title">
                                                                    <div class="caption">
                                                                        <i class="fa fa-key"></i>Change Password
																	</div>
                                                                    
                                                                </div>
                                                                <div class="portlet-body form">
                                                                    <!-- BEGIN FORM-->
                                                                    <form (submit)="changePassword()" class="form-horizontal">
                                                                        <div class="form-body">
                                                                            <h3 ></h3>
																			<div class="error"></div>
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-md-4">Current Password<span class="required">*</span></label>
                                                                                        <div class="col-md-6">
                                                                                            <input type="password" class="form-control" [(ngModel)]= "currentPassword" 
                                                                                            name="currentPassword" placeholder="Enter Current Password">
                                                                                            
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--/span-->
                                                                            </div>
                                                                            <!--/row-->
																			
																			<div class="row">
																				<div class="col-md-6">
																					<div class="form-group last password-strength">
																						<label class="control-label col-md-4">New Password <span class="required">*</span></label>
																						<div class="col-md-6">
																							<input type="password" class="form-control" [(ngModel)]= "newPassword"
                                                                                            name="newPassword" id="password_strength" placeholder="New Password">
																						</div>
																					</div>
																				</div>
                                                                                <!--/span-->
                                                                                <div class="col-md-6">
																					<div class="form-group">
                                                                                        <label class="control-label col-md-4">Confirm Password<span class="required">*</span></label>
                                                                                        <div class="col-md-6">
                                                                                            <input type="password" class="form-control" [(ngModel)]= "retypeNewPassword"
                                                                                            name="retypeNewPassword" placeholder="Confirm Password">
                                                                                            
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <!--/span-->
                                                                            </div>
                                                                            <!--/row-->
																			
                                                                        </div>
																		
                                                                        <div class="form-actions">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <div class="row">
                                                                                        <div class="col-md-offset-4 col-md-8">
																							<!-- <a href="dashboard.html"class="btn green">Submit</a> -->
																							<button class="btn btn-success"> Submit </button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6"> </div>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <!-- END FORM-->
																	
																	<div class="modal fade draggable-modal" id="draggable" tabindex="-1" role="basic" aria-hidden="true">
																					<div class="modal-dialog">
																						<div class="modal-content">
																							<div class="modal-header">
																								
																								<h4 class="modal-title">Password Changed Successfully</h4>
																							</div>
																							<div class="modal-body"> Thank You 
																								<!-- <div class="sa-icon sa-success animate" style="display: block;">
				  <span class="sa-line sa-tip animateSuccessTip"></span>
				  <span class="sa-line sa-long animateSuccessLong"></span>

				  <div class="sa-placeholder"></div>
				  <div class="sa-fix"></div>
				</div> -->
																							</div>
																							
																						</div>
																						<!-- /.modal-content -->
																					</div>
																					<!-- /.modal-dialog -->
																	</div>
																	
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
									
                                   
                                    <!-- END PAGE CONTENT INNER -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                        
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>