<div class="page-wrapper-row full-height">
  <div class="page-wrapper-middle">
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
      <!-- BEGIN CONTENT -->
      <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
          <div class="container">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
              <h1>Delete User</h1>
            </div>
            <!-- END PAGE TITLE -->

          </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
          <div class="container">

            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="page-content-inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="tabbable-line boxless tabbable-reversed">
                    <ul class="nav nav-tabs">

                    </ul>

                    <div class="tab-pane" id="tab_3">
                      <div class="portlet box green-jungle">
                        <div class="portlet-title">
                          <div class="caption">
                            <i class="fa fa-user-plus"></i>Delete Form
                          </div>

                        </div>


                        <div class="portlet-body form">

                          <form (submit)="deleteUser()" class=" form-horizontal ">
                            <div class="form-body ">
                              <h3></h3>
                              <div class="row ">
                                <div class="col-md-6 ">
                                  <div class="form-group ">
                                    <label class="control-label col-md-3 ">User ID</label>
                                    <div class="col-md-9 ">
                                      <p class="form-control-static "> {{ulaId}} </p>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-6 ">
                                  <div class="form-group ">
                                    <label class="control-label col-md-3 ">Reason</label>
                                    <div class="col-md-9 ">
                                      <textarea [(ngModel)]="remarks" name="remarks" class="form-control todo-taskbody-taskdesc " rows="2 " placeholder=" Description... "></textarea>
                                    </div>
                                  </div>
                                </div>

                              </div>


                            </div>

                            <div class="form-actions ">
                              <div class="row ">
                                <div class="col-md-6 ">
                                  <div class="row ">
                                    <div class="col-md-offset-3 col-md-9 ">

                                      <button type="reset" class="btn default">Reset</button>

                                      <button type="submit" class="btn btn-success">Submit</button>

                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-6 "> </div>
                              </div>
                            </div>
                          </form>


                          <div class="modal fade draggable-modal " id="draggable " tabindex="-1 " role="basic " aria-hidden="true ">
                            <div class="modal-dialog ">
                              <div class="modal-content ">
                                <div class="modal-header ">

                                  <h4 class="modal-title ">User Removed Successfully </h4>
                                </div>
                                <div class="modal-body "> Thank You

                                </div>

                              </div>

                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>