 <div class="page-wrapper">
            <div class="page-wrapper-row">
                <div class="page-wrapper-top">
                    <!-- BEGIN HEADER -->
                    <div class="page-header">
					<app-top-bar></app-top-bar>
                    <app-nav-bar></app-nav-bar>
                        
                    </div>
                    <!-- END HEADER -->
                </div>
            </div>
			<router-outlet></router-outlet>
            </div>
        <app-bottom-bar></app-bottom-bar>