<!-- BEGIN HEADER MENU -->
                        <div class="page-header-menu">
                            <div class="container">
                                
                                <!-- BEGIN MEGA MENU -->
                                <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
                                <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
                                <div class="hor-menu  ">
                                    <ul class="nav navbar-nav">
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown " routerLinkActive="active">
                                            <a href="javascript:;"> About Aranidhi
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="">
                                                    <a routerLink="/about" fragment="about_us"class="scroll"> Aranidhi Works </a>
                                                    
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                     <a routerLink="/about" fragment="our_mission" class="scroll"> Our Mission </a>
                                                        
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a routerLink="/about" fragment="our_team" class="scroll"> Our Team </a>
                                                </li>
												
												<li aria-haspopup="true" class="">
                                                    <a routerLink="/about" fragment="philenthros" class="scroll"> PhilEnthros </a>
                                                </li>
                                            </ul>
                                        </li>
										<li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown" routerLinkActive="active">
                                            <a routerLink="/dashboard"> Dashboard
                                                <span class="arrow"></span>
                                            </a>
                                            
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown">
                                            <a href="javascript:;"> Donation
                                                <span class="arrow"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-left">
                                                <li aria-haspopup="true" class="active">
                                                    <a routerLink="/donation" routerLinkActive="active"> Make Donation </a>
                                                    
                                                </li>
                                                <li aria-haspopup="true" class=" ">
                                                    <a routerLink="/reports" routerLinkActive="active"> View Reports </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown" routerLinkActive="active">
                                            <a routerLink="/user-list"> Manage Users
                                                <span class="arrow"></span>
                                            </a>
                                            
                                        </li>
                                    </ul> 
                                </div>
                                <!-- END MEGA MENU -->
                            </div>
                        </div>
                        <!-- END HEADER MENU -->