<link href="assets/pages/css/about.min.css" rel="stylesheet" type="text/css">
<div class="page-wrapper-row full-height">
                <div class="page-wrapper-middle">
                    <!-- BEGIN CONTAINER -->
                    <div class="page-container">
                        <!-- BEGIN CONTENT -->
                        <div class="page-content-wrapper">
                            <!-- BEGIN CONTENT BODY -->
                            <!-- BEGIN PAGE HEAD-->
                            <div class="page-head">
                                <div class="container">
                                    <!-- BEGIN PAGE TITLE -->
                                    <div class="page-title">
                                        <h1>About Us</h1>
                                    </div>
                                    <!-- END PAGE TITLE -->
                                    
                                </div>
                            </div>
                            <!-- END PAGE HEAD-->
                            <!-- BEGIN PAGE CONTENT BODY -->
                            <div class="page-content">
                                <div class="container">
                                    
                                    <!-- BEGIN PAGE CONTENT INNER -->
                                    <div class="page-content-inner">
                                       
									<div id="about_us">
                                        <!-- BEGIN TEXT & VIDEO -->
                                        <div class="row margin-bottom-10" >
                                            <div class="col-lg-6">
                                                <div class="portlet light about-text">
                                                    <h4>About Aranidhi</h4>
                                                    <p class="margin-top-20"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                                                        ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis
                                                        at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. </p>
                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <ul class="list-unstyled margin-top-10 margin-bottom-10">
                                                                <li>
                                                                    <i class="fa fa-check"></i> Nam liber tempor cum soluta </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Mirum est notare quam </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Lorem ipsum dolor sit amet </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Mirum est notare quam </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Mirum est notare quam </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <ul class="list-unstyled margin-top-10 margin-bottom-10">
                                                                <li>
                                                                    <i class="fa fa-check"></i> Nam liber tempor cum soluta </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Mirum est notare quam </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Lorem ipsum dolor sit amet </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Mirum est notare quam </li>
                                                                <li>
                                                                    <i class="fa fa-check"></i> Mirum est notare quam </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="about-quote">
                                                        <h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</h3>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
												<iframe width="520px" height="320px" src="../assets/videos/ULA.mp4" frameborder="0"style="width:100%; height:320px;border:0" allowfullscreen></iframe>
												<h3 class="join"><b>Join hands & Open your Philanthropic A/C</b></h3>
												<div class="row ">
													<div class="col-md-12">
														<div class="row">
															<div class="col-md-offset-4 col-md-8 donate">
                                               					<a routerLink="/donation" class="btn green-meadow btn-lg">Donate Now</a>
															</div>
														</div>
													</div>
												</div>
                                            </div>
											
                                        </div>
                                        <!-- END TEXT & VIDEO -->
                                        <!-- BEGIN CARDS -->
                                        <div class="row margin-bottom-10 stories-header" data-auto-height="true">
                                            <div class="col-md-12">
                                                <h1>How ULA System Works</h1>
                                            </div>
                                        </div>
										<div class="row margin-bottom-10 stories-footer" data-auto-height="false">
											<div class="col-md-12 ">
												<h1 class="ula-topic" >We Handle that Unconditional Love Account (ULA) by</h1>
											</div>
										</div>
										
                                        <div class="row margin-bottom-20">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="card-icon">
                                                        <i class="fa fa-graduation-cap font-green-haze theme-font" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="card-title">
                                                        <span> Social Entrepreneurship </span>
                                                    </div>
                                                    <div class="card-desc">
														<span>We identify & nurture 7 upcoming social entrepreneurs for every 2 years </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="card-icon">
                                                        <i class="fa fa-heart font-green-haze theme-font" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="card-title">
                                                        <span>Charitable Organizations</span>
                                                    </div>
                                                    <div class="card-desc">
														<span>We rendering software services for Organizations to ensure the quality of service</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="card-icon">
														<i class="fa fa-users font-purple-wisteria theme-font" aria-hidden="true"></i>
                                                        
                                                    </div>
                                                    <div class="card-title">
                                                        <span> Online Banking for Philanthropists </span>
                                                    </div>
                                                    <div class="card-desc">
														<span>We create a collaborative platform between EnEnthros, Philanthropists and Charities</span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <!-- END CARDS -->
									</div>
										<div class="container" id="our_mission">
											<div class="portlet-title-10 stories-header" data-auto-height="true">
												<div class="col-md-12">
													<h1>Our Mission</h1>
												</div>
											</div>
											<div class="page-content-inner">
												<div class="row margin-bottom-10 stories-footer" data-auto-height="false">
													<div class="col-md-12">
														<h1 class="topic">Your funds will get used for the causes by the following category</h1>
													</div>
												</div>
											<h3 class="service_1"><b><li>Nurturing Social Entrepreneurship</li></b></h3>
											<h3 class="service_2"><b><li>Software Solutions to Charitable Organization</li></b></h3>	
											<h3 class="service_3"><b><li>Life support to downtrodden people</li></b></h3>	
											<h3 class="service_4"><b><li>Micro finance for Destitute women</li></b></h3>	
											<h3 class="service_5"><b><li>Self-sustainable models for transgender</li></b></h3>	
											<h3 class="service_6"><b><li>Home for physically & mentally challenged</li></b></h3>	
											<h3 class="service_7"><b><li>Possible means of solutions to blind community</li>
											</b></h3>	
												
											
											</div>
										</div>
										
										<!-- BEGIN MEMBERS SUCCESS STORIES -->
									<div id="our_team">
                                        <div class="row margin-bottom-10 stories-header" data-auto-height="true">
                                            <div class="col-md-12">
                                                <h1>Our Team</h1>
                                            </div>
                                        </div>
										
                                        <div class="row margin-bottom-20 stories-cont">
                                            <div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="photo">
                                                        <img src="../assets/pages/media/users/teambg5.jpg" alt="" class="img-responsive" /> </div>
                                                    <div class="title">
                                                        <span> Monicka Akilan </span>
                                                    </div>
                                                    <div class="desc">
                                                        <span> Product Manager</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="photo">
                                                        <img src="../assets/pages/media/users/teambg5.jpg" alt="" class="img-responsive" /> </div>
                                                    <div class="title">
                                                        <span> Madhavan G S </span>
                                                    </div>
                                                    <div class="desc">
                                                        <span> Analysis Engineer </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="photo">
                                                        <img src="../assets/pages/media/users/teambg5.jpg" alt="" class="img-responsive" /> </div>
                                                    <div class="title">
                                                        <span> Aadhavan G S </span>
                                                    </div>
                                                    <div class="desc">
                                                        <span> Senior Software Engineer </span>
                                                    </div>
                                                </div>
                                            </div>
											<div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="photo">
                                                        <img src="../assets/pages/media/users/teambg5.jpg" alt="" class="img-responsive" /> </div>
                                                    <div class="title">
                                                        <span> Venkateswara Rao D </span>
                                                    </div>
                                                    <div class="desc">
                                                        <span> Infrastructure Engineer </span>
                                                    </div>
                                                </div>
                                            </div>
											<div class="col-lg-4 col-md-6">
                                                <div class="portlet light">
                                                    <div class="photo">
                                                        <img src="../assets/pages/media/users/teambg5.jpg" alt="" class="img-responsive" /> </div>
                                                    <div class="title">
                                                        <span> Senthilkumar B </span>
                                                    </div>
                                                    <div class="desc">
                                                        <span> Developer </span>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
									</div>
                                        
									<div id="philenthros">	
										<div class="row margin-bottom-10 stories-header" data-auto-height="true">
                                            <div class="col-md-12">
                                                <h1>PhilEnthros</h1>
                                            </div>
                                        </div>
                            
										<div class="row">
											<div class="col-md-12">
												<!-- BEGIN PORTLET-->
												<div class="portlet light ">
													<div class="portlet-title">
														<div class="caption font-red-intense">
															<i class="icon-speech font-red-intense"></i>
															<span class="caption-subject bold uppercase"> EnEnthros Vision Supporters</span>
														</div>	
													</div>
													<div class="portlet-body">
														<div id="context2" data-toggle="context" data-target="#context-menu">
															<p> Page Content about EnEnthros and their contribution for Aranidhi. And all the philanthropists who are supporting us in this journey.</p>
															<p>EnEnthros gain integrity by ensuring the transparency in handling the funds of Philanthropists through our Transparent Software System (Aranidhi).</p>

														</div>
													</div>
												</div>
												<!-- END PORTLET-->
											</div>
										</div>
									</div>
									
									
										
										
                                    </div>
                                    <!-- END PAGE CONTENT INNER -->
                                </div>
                            </div>
                            <!-- END PAGE CONTENT BODY -->
                            <!-- END CONTENT BODY -->
                        </div>
                        <!-- END CONTENT -->
                    </div>
                    <!-- END CONTAINER -->
                </div>
            </div>